[Desktop Entry]
Name=Projects
Comment=Quick access to recent IDE projects
Exec=/home/ravn/.config/hypr/scripts/Omarchy-Code-Projects-Menu/projects-menu.sh all
Icon=folder-code
Type=Application
Categories=Development;Utility;
Terminal=false
NoDisplay=false
